In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
intervention= pd.read_csv('intervention.csv', header = None, sep=',')
intervention.head()

     0  1          2                    3          4           5
0  965  1  slow stop  2017-01-09 21:59:48  37.349873 -121.939789
1  966  0  slow stop  2017-01-09 22:00:11  37.349876 -121.939705
2  967  1  slow stop  2017-01-09 22:03:30  37.351093 -121.937798
3  968  0  slow stop  2017-01-09 22:05:01  37.350246 -121.938934
4  969  1  slow stop  2017-01-09 22:06:27  37.350014 -121.939453

In [3]:
intervention.columns = ['Id','category_id','description','incident_time','latitude','longitude']
intervention.head()

    Id  category_id description        incident_time   latitude   longitude
0  965            1   slow stop  2017-01-09 21:59:48  37.349873 -121.939789
1  966            0   slow stop  2017-01-09 22:00:11  37.349876 -121.939705
2  967            1   slow stop  2017-01-09 22:03:30  37.351093 -121.937798
3  968            0   slow stop  2017-01-09 22:05:01  37.350246 -121.938934
4  969            1   slow stop  2017-01-09 22:06:27  37.350014 -121.939453

In [4]:
intervention.incident_time= pd.to_datetime(intervention.incident_time)

In [5]:
temp = pd.DatetimeIndex(intervention.incident_time)
intervention['incident_date'] = temp.date
intervention['incident_time'] = temp.time

In [6]:
intervention.isnull().sum()

Id               0
category_id      0
description      0
incident_time    0
latitude         0
longitude        0
incident_date    0
dtype: int64

In [7]:
intervention.head()

,Id,category_id,description,incident_time,latitude,longitude,incident_date
0,965,1,slow stop,21:59:48,37.349873,-121.939789,2017-01-09
1,966,0,slow stop,22:00:11,37.349876,-121.939705,2017-01-09
2,967,1,slow stop,22:03:30,37.351093,-121.937798,2017-01-09
3,968,0,slow stop,22:05:01,37.350246,-121.938934,2017-01-09
4,969,1,slow stop,22:06:27,37.350014,-121.939453,2017-01-09

In [8]:
long_list = list(intervention.longitude)
lat_list = list(intervention.latitude)
long_list.sort()
lat_list.sort()
dfLong = pd.DataFrame(long_list)
dfLong.head()
dfLong.tail()
dfLat = pd.DataFrame(lat_list)
dfLat.head()
dfLat.tail()

            0
0 -121.951904
1 -121.941742
2 -121.941734
3 -121.941734
4 -121.941734

               0
5978 -121.934692
5979 -121.934616
5980    0.000000
5981    0.000000
5982    0.000000

           0
0   0.000000
1   0.000000
2   0.000000
3  37.343296
4  37.348297

              0
5978  37.351128
5979  37.351131
5980  37.351131
5981  37.351131
5982  37.351219

In [50]:
#coordinate[y, x]
top_left = [37.351128,-121.951904]
top_right= [37.351128, -121.934616]
bottom_left =[37.343296, -121.951904]
bottom_right = [37.343296, -121.934616]


n = 25

length = top_right[1] - top_left[1]
width = top_left[0] - bottom_left[0]

len_array = [top_left[1]]
wid_array = [bottom_left[0]]

group = []
for i in range(1, n + 1):
    len_array.append(len_array[i - 1] + length/n)
    wid_array.append(wid_array[i - 1] + length/n)


for x in range(0, intervention.shape[0]):
    a = b = 0
    if(intervention.longitude[x] != 0):
        for i in range(1, n + 1):
            a += 1
            for j in range(1, n + 1):
                b += 1
                if(intervention.longitude[x] >= len_array[i - 1] and intervention.longitude[x] <= len_array[i] and intervention.latitude[x] >= wid_array[j - 1] and intervention.latitude[x] <= wid_array[j]):
                    group.append(a + b - 1)
                   
    else:
        group.append(None)

intervention['Location Group'] = group

In [55]:
group.sort()
for k, g in itertools.groupby(group, key=lambda n: n//50):
    print (k, list(g))

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [51]:
intervention.to_csv('final_intervention.csv', sep=',', index = False)