In [18]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [19]:
timesheet = pd.read_csv('Vehicle_Timesheet.csv', header = None, sep=',')
timesheet.head()

   0  1  2  3               4               5
0  1  7  1  1   3/1/2017 9:10  3/1/2017 12:40
1  2  7  1  1  3/1/2017 13:20  3/1/2017 17:10
2  3  7  1  1   3/2/2017 9:10  3/2/2017 12:40
3  4  7  1  1  3/2/2017 13:20  3/2/2017 17:10
4  5  7  1  1   3/3/2017 9:00  3/3/2017 12:40

In [20]:
timesheet.columns = ['id', 'site_id', 'vehicle_id', 'driver_id', 'start_timestamp', 'end_timestamp']

In [21]:
timesheet.start_timestamp = pd.to_datetime(timesheet.start_timestamp)

In [22]:
timesheet.end_timestamp = pd.to_datetime(timesheet.end_timestamp)

In [25]:
temp = pd.DatetimeIndex(timesheet.start_timestamp)
timesheet['start_date'] = temp.date
timesheet['start_time'] = temp.time
temp = pd.DatetimeIndex(timesheet.end_timestamp)
timesheet['end_date'] = temp.date
timesheet['end_time'] = temp.time

In [30]:
timesheet.head()

,id,site_id,vehicle_id,driver_id,start_timestamp,end_timestamp,start_date,start_time,end_date,end_time
0,1,7,1,1,2017-03-01 09:10:00,2017-03-01 12:40:00,2017-03-01,09:10:00,2017-03-01,12:40:00
1,2,7,1,1,2017-03-01 13:20:00,2017-03-01 17:10:00,2017-03-01,13:20:00,2017-03-01,17:10:00
2,3,7,1,1,2017-03-02 09:10:00,2017-03-02 12:40:00,2017-03-02,09:10:00,2017-03-02,12:40:00
3,4,7,1,1,2017-03-02 13:20:00,2017-03-02 17:10:00,2017-03-02,13:20:00,2017-03-02,17:10:00
4,5,7,1,1,2017-03-03 09:00:00,2017-03-03 12:40:00,2017-03-03,09:00:00,2017-03-03,12:40:00

In [28]:
timesheet.isnull().sum()

id                 0
site_id            0
vehicle_id         0
driver_id          0
start_timestamp    0
end_timestamp      0
start_date         0
start_time         0
end_date           0
end_time           0
dtype: int64

In [27]:
timesheet.to_csv('final_Vehicle_Timesheet.csv', sep=',', index = False)